body {
  background: #2d2d2d;
  position: relative;
}

h2 {
  margin: 0 0 25px 0;
  font: 24px "HelveticaRegular", sans-serif;
  font-weight: 600;
}
p, table {
  font: 15px "HelveticaRegular", sans-serif;
  line-height: 1.4;
}
table {
  width: 100%;
  text-align: left;
}
.tabs-container {
  display: block;
  position: relative;
}
.tabs {
  transform: translate(-50%,-50%);
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  background-color: green;
}
.tabs-nav {
  -webkit-padding-start: 0px;
  margin: 0;
}
.tabs-nav li { display: inline-block;  }
.tabs-nav li a {
  display: block; 
      padding: 10px 25px; 
      background: green; 
      color: #fff; 
      text-decoration: none; 
      cursor: pointer;
}
.tabs-nav .active-link {
  background: #fff;
    color: #2e2e2e;
}

.c-tab {
  display: none;
  padding: 25px;
  height: 250px;
  min-width: 650px;
}
.is-active { 
  display: block;
  opacity: 1;
  background: #fff;
}